*.suo
*.csproj.user
*.zip
*.7z
*.class
Maven__*.xml
profiles_settings.xml
*.user
*.Cashe
*.dll.config.cache.pdb
*.log
*.xml
*.dll
*.exe
*.cache
*.csproj

/*/Data/**/*

/*/packages

/*/*/target/**
/*/*/.idea/workspace.xml
/*/*/target/surefire-reports/**
/*/*/*sln.ide/**

*/*/_ReSharper*/*
*/*/*/_ReSharper*/*
*/*/bin/**/*
*/*/obj/**/*
*/*/App_Data/**/*
*/*/*/bin/**/*
*/*/*/obj/**/*
*/*/Logs/**/*