/StudentDrive/Core/bin
/StudentDrive/Core/obj
/StudentDrive/Data/obj
/StudentDrive/Data/bin
/StudentDrive/Initializer/obj
/StudentDrive/Initializer/bin
/StudentDrive/StudentDrive/obj
/StudentDrive/StudentDrive/bin
/StudentDrive/TestResults
/StudentDrive/Tests/obj
/StudentDrive/Tests/bin
/StudentDrive/packages
/StudentDrive/.vs
